.box-socialMedia{
    display: flex;
    flex-direction: column;
}
.barra-informaciones{
    display: flex;
    flex-direction: row;
    gap: 73px;
}

.barra-informaciones{
    background-color: #006400;
    color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
}

.barra-verde{
    background-color: #006400;
    height: 4.88dvh;
}
.text-socialMedia span, .bc-text span{
    font-size: 16px;
    font-weight: bold;
}

.icono-socialMedia{
    display: flex;
    justify-content: center;
    gap: 9px;
}
.icono-socialMedia i , .bc-icono i{
    font-size: 25px;
}

.box-contactanos{
    background-color: #228B22;
    text-align: center;
    margin-top: -4px;
    margin-bottom: -4px;
}

.bc-text{
    margin-top: 5px;
    margin-left: 8px;
    margin-right: 8px;
}

.icono-socialMedia a, .bc-icono a{
    color: inherit; /* Usa el color del elemento padre */
    text-decoration: none; /* Quita el subrayado si es necesario */
}


.box-linkText{
    display: flex;
    flex-direction: column;
}

.lista-uno{
    padding: 2px 25px 2px 56px;
}

.lista-uno li{
    line-height: 30px;
    font-size: 1.125em /*18px */
}

.data-informacion{
    text-align: center;
    padding: 0px 10px;
}

.data-informacion p{
    margin-top: 10px;
}


.libro-reclamaciones{
    width: 30dvh;
    border: 1px solid #CAC9C9;
}


.line_uno, .line_dos {
    width:  0.08px;
    background-color: #A4A7AA;
    transform: translateY(-50%);
    position: absolute;
    left: 18px;
}

.line_uno{
    top: 25%;
    height: 452px;
}

.line_dos{
    top: 75.6%;
    height: 500px;
}