/* Estilos del carrusel */
.portada-main {
    display: flex;
    height: 100dvh;
}

.carousel img {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel img.active {
    opacity: 1;
}